* {
    box-sizing: border-box;
}

.form-popup {
    display: none;
    max-width: 500px;
    max-height: 800px;
    padding: 10px;
    border: 5px solid lightgray;
    border-radius: 5px;;
    position: fixed;
    bottom: 0;
    right: 15px;
    z-index: 9;
    background-color: white;
}

.form-container h1 {
    text-align: center;
}

.form-container input[type=text], .form-container textarea {
    width: 100%;
}

.form-container input, .form-container textarea {
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: lightgray;
}

.form-container button {
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
}

.form-container button[type=submit] {
    background-color: green;
}

.form-container button[type=button] {
    background-color: red;
}

#welcome {
    position: fixed;
    top: 0;
    margin: 0;
    padding: 0;
}

#calendar {
    width: 80%;
    height: 80%;
    position: fixed;
    top: 10%;
    right: 10%;
    margin: 0;
    padding: 0;
}

#copyright {
    position: fixed;
    bottom: 0;
    margin: 0;
    padding: 0;
}