{% extends 'base.html' %}

{% block head %}
<title>Matthew's Project</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
<script src="https://cdn.jsdelivr.net/npm/fullcalendar/index.global.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@fullcalendar/bootstrap5@6.1.18/index.global.min.js"></script>
<script>
    // TODO: limit title size to 255 bytes
    // TODO: make sure end time comes after begin time
    var alert_message = '{{ alert_message }}';

    var current_icon = '{{ current_icon }}';
    var past_week_icon = {{ past_week_icon | safe }};
    var next_three_days_icon = {{ next_three_days_icon | safe }};

    var events = {{ events | safe }};

    events.forEach(e => {
        delete e.account_id;
        e.id = e.id.toString();
        e.start = e.start_time;
        delete e.start_time;
        if (e.end_time.length != 0) {
            e.end = e.end_time;
        }
        delete e.end_time;
    });

    var bgImageMap = {};

    const today = new Date();
    bgImageMap[today.toISOString().slice(0, 10)] = 'url("http:' + current_icon + '")';
    for (var i = 0; i < 7; i++) {
        today.setDate(today.getDate() - 1);
        bgImageMap[today.toISOString().slice(0, 10)] = 'url("http:' + past_week_icon[i] + '")';
    }
    today.setDate(today.getDate() + 7);
    for (var i = 0; i < 3; i++) {
        today.setDate(today.getDate() + 1);
        bgImageMap[today.toISOString().slice(0, 10)] = 'url("http:' + next_three_days_icon[i] + '")';
    }

    function updateCalendar(calendar) {
        calendar.getEvents().forEach((e) => e.remove());

        var start = calendar.view.currentStart.toISOString().slice(0, -14);
        var end = calendar.view.currentEnd.toISOString().slice(0, -14);

        fetch(
            '{{ url_for("getEvents") }}',
            {
                method: 'POST',
                body: new URLSearchParams({
                    start: start,
                    end: end
                })
            }
        )
        .then((response) => {
            if (!response.ok) {
                throw new Error(`Response status: ${response.status}`);
            }

            return response.text();
        })
        .then((responseText) => {
            if (responseText.startsWith('ERROR')) {
                throw new Error(responseText);
            }

            var responseObj;
            try {
                responseObj = JSON.parse(responseText);
            } catch (error) {
                throw new Error('Invalid response from the server');
            }

            responseObj.forEach(e => {
                delete e.account_id;
                e.id = e.id.toString();
                e.start = e.start_time;
                delete e.start_time;
                if (e.end_time.length != 0) {
                    e.end = e.end_time;
                }
                delete e.end_time;

                calendar.addEvent(e);
            });
        })
        .catch((error) => {
            alert(error);
        });
    }

    document.addEventListener('DOMContentLoaded', function() {
        if (alert_message.length != 0) {
            alert(alert_message);
        }

        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
            themeSystem: 'bootstrap5',
            initialView: 'dayGridMonth',
            bootstrapFontAwesome: false,
            customButtons: {
                addEvent: {
                    text: 'add event',
                    click: function() {
                        document.getElementById("addEventForm").style.display = "block";
                    },
                    icon: 'plus-lg'
                }
            },
            headerToolbar: {
                left: 'prev,next today addEvent',
                center: 'title',
                right: 'dayGridMonth,timeGridWeek'
            },
            allDaySlot: false,
            nowIndicator: true,
            slotDuration: '01:00:00',
            events: events,
            eventClick: function(info) {
                alert(info.event.title);

                var description = '';
                for (let e in events) {
                    if (e.id == info.event.id) {
                        description = e.description;
                        break;
                    }
                }

                if (description.length != 0) {
                    alert(description);
                }

                if (confirm('Would you like to delete this event?')) {
                    fetch(
                        '{{ url_for("removeEvent") }}',
                        {
                            method: 'POST',
                            body: new URLSearchParams({ id: info.event.id })
                        }
                    )
                    .then((response) => {
                        if (!response.ok) {
                            throw new Error(`Response status: ${response.status}`);
                        }

                        return response.text();
                    })
                    .then((responseText) => {
                        if (responseText.length != 0) {
                            throw new Error(responseText);
                        }
                        location.reload();
                    })
                    .catch((error) => {
                        alert(error);
                    });    
                }
            },
            dayCellDidMount: function(info) {
                const dateStr = info.date.getFullYear() + '-'
                    + String(info.date.getMonth() + 1).padStart(2, '0') + '-'
                    + String(info.date.getDate()).padStart(2, '0');

                if (bgImageMap[dateStr]) {
                    info.el.style.backgroundImage = bgImageMap[dateStr];
                    info.el.classList.add('bg-date');
                }
            },
            slotLaneDidMount: function(info) {
                switch (info.date.getHours()) {
                    case 8:
                        info.el.style.backgroundImage = 'url(\'https://www.shutterstock.com/shutterstock/photos/2317113251/display_1500/stock-vector-yellow-half-sun-icon-in-doodle-style-hand-drawn-sunset-simple-graphic-symbol-summer-heat-icon-2317113251.jpg\')';
                        break;
                    case 12:
                        info.el.style.backgroundImage = 'url(\'https://i.pinimg.com/474x/46/a2/cd/46a2cd17b19cb3d655fbd6a6ed6223f0.jpg\')';
                        break;
                    case 18:
                        info.el.style.backgroundImage = 'url(\'https://t4.ftcdn.net/jpg/01/67/12/13/360_F_167121304_3cdfoBtQGdRrVcnU9hL2J0FlrlXkNJJH.jpg\')';
                        break;
                    default:
                        info.el.style.backgroundImage = 'url(\'https://t3.ftcdn.net/jpg/02/77/30/98/360_F_277309825_h8RvZkoyBGPDocMtippdfe3497xTrOXO.jpg\')';
                }

                info.el.style.backgroundSize = 'cover';
                info.el.style.backgroundRepeat = 'no-repeat';
            },
            datesSet: function(dateInfo) {
                // TODO: make this run when the dates change
                if (dateInfo.type === 'timeGridWeek') {
                    console.log('timeGridWeek');
                    for (const slot of document.getElementsByClassName('fc-timegrid-slot')) {
                        slot.style.height = '3em';
                    }
                }
                updateCalendar(calendar);
            }
        });

        calendar.render();
    });
</script>
{% endblock %}

{% block body %}
<div id="welcome">Welcome {{ username }}! <a href="{{ url_for('logout') }}">Logout</a></div>
<div id="calendar"></div>
<div class="form-popup" id="addEventForm">
    <form action="{{ url_for('addEvent') }}" method="post" class="form-container">
        <h1>New Event</h1>

        <label for="title"><b>Title</b></label>
        <input type="text" placeholder="Enter Title" name="title" required>

        <label for="description"><b>Description</b></label>
        <textarea name="description" rows="4" cols="50"></textarea>

        <label for="startTime"><b>Start Time</b></label>
        <input type="datetime-local" name="startTime" required>
        <br>
        <label for="endTime"><b>End Time</b></label>
        <input type="datetime-local" name="endTime">

        <button type="submit">Add Event</button>
        <button type="button"
            onclick="document.getElementById('addEventForm').style.display = 'none'">Close</button>
    </form>
</div>
<div id="copyright">
    Powered by <a href="https://www.weatherapi.com/" title="Free Weather API">WeatherAPI.com</a>
</div>
{% endblock %}