{% extends 'base.html' %}

{% block head %}
<title>Matthew's Project</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
<script src="https://cdn.jsdelivr.net/npm/fullcalendar/index.global.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@fullcalendar/bootstrap5@6.1.18/index.global.min.js"></script>
<script>
    // TODO: limit title size to 255 bytes
    // TODO: make sure end time comes after begin time
    var alert_message = '{{ alert_message }}';

    var current_icon = '{{ current_icon }}';
    var past_week_icons = {{ past_week_icons | safe }};
    var next_three_days_icons = {{ next_three_days_icons | safe }};
    var hourly_icons = {{ hourly_icons | safe }};

    var bgImageMap = {};

    const today = new Date();
    bgImageMap[today.toISOString().slice(0, 10)] = `url("http:${current_icon}")`;
    for (var i = 0; i < 7; i++) {
        today.setDate(today.getDate() - 1);
        bgImageMap[today.toISOString().slice(0, 10)] = `url("http:${past_week_icons[i]}")`;
    }
    today.setDate(today.getDate() + 7);
    for (var i = 0; i < 3; i++) {
        today.setDate(today.getDate() + 1);
        bgImageMap[today.toISOString().slice(0, 10)] = `url("http:${next_three_days_icons[i]}")`;
    }

    function updateCalendar(calendar) {
        calendar.getEvents().forEach((e) => {
            if (e.id !== 'weather') {
                e.remove();
            }
        });

        var start = calendar.view.currentStart.toISOString().slice(0, -14);
        var end = calendar.view.currentEnd.toISOString().slice(0, -14);

        fetch(
            '{{ url_for("getEvents") }}',
            {
                method: 'POST',
                body: new URLSearchParams({
                    start: start,
                    end: end
                })
            }
        )
        .then((response) => {
            if (!response.ok) {
                throw new Error(`Response status: ${response.status}`);
            }

            return response.text();
        })
        .then((responseText) => {
            if (responseText.startsWith('ERROR')) {
                throw new Error(responseText);
            }

            var responseObj;
            try {
                responseObj = JSON.parse(responseText);
            } catch (error) {
                throw new Error('Invalid response from the server');
            }

            responseObj.forEach(e => {
                delete e.account_id;
                e.id = e.id.toString();
                e.start = e.start_time;
                delete e.start_time;
                if (e.end_time.length != 0) {
                    e.end = e.end_time;
                }
                delete e.end_time;

                calendar.addEvent(e);
            });
        })
        .catch((error) => {
            alert(error);
        });
    }

    var iconEvents = [
        {
            id: 'weather-0',
            start: '2025-07-25T10:00:00',
            allDay: false,
            overlap: false,
            editable: false,
            display: 'block',
            icon: 'http:' + hourly_icons[0]
        }
    ];

    document.addEventListener('DOMContentLoaded', function() {
        if (alert_message.length != 0) {
            alert(alert_message);
        }

        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
            themeSystem: 'bootstrap5',
            initialView: 'dayGridMonth',
            bootstrapFontAwesome: false,
            customButtons: {
                addEvent: {
                    text: 'add event',
                    click: function() {
                        document.getElementById("addEventForm").style.display = "block";
                    },
                    icon: 'plus-lg'
                }
            },
            headerToolbar: {
                left: 'prev,next today addEvent',
                center: 'title',
                right: 'dayGridMonth,timeGridWeek'
            },
            allDaySlot: false,
            nowIndicator: true,
            slotDuration: '01:00:00',,
            eventContent: function(arg) {
                if (arg.event.extendedProps.icon && arg.view.type !== 'dayGridMonth') {
                    const imgEl = document.createElement('img');
                    imgEl.src = arg.event.extendedProps.icon;
                    imgEl.style.width = '16px';
                    imgEl.style.height = '16px';
                    imgEl.style.position = 'absolute';
                    imgEl.style.top = '2px';
                    imgEl.style.left = '2px';
                    imgEl.style.pointerEvents = 'none';

                    return { domNodes: [imgEl] };
                }

                return true;
            },
            eventDidMount: function(info) {
                const viewType = info.view.type;
                if (info.event.extendedProps.icon) {
                    if (viewType === 'dayGridMonth') {
                        info.el.style.display = 'none';
                    } else {
                        info.el.style.display = 'block';
                    }
                }
            },
            viewDidMount: function(viewInfo) {
                if (viewInfo.view.type !== 'dayGridMonth') {
                    calendar.addEventSource(iconEvents);
                }
            },
            viewWillUnmount: function(viewInfo) {
                if (viewInfo.view.type !== 'dayGridMonth') {
                    iconEvents.forEach(event => {
                        const e = calendar.getEventById(event.id);
                        if (e) e.remove();
                    });
                }
            },
            eventClick: function(info) {
                if (info.event.extendedProps.icon) {
                    return;
                }

                alert(info.event.title);

                var description = '';
                for (let e in events) {
                    if (e.id == info.event.id) {
                        description = e.description;
                        break;
                    }
                }

                if (description.length != 0) {
                    alert(description);
                }

                if (confirm('Would you like to delete this event?')) {
                    fetch(
                        '{{ url_for("removeEvent") }}',
                        {
                            method: 'POST',
                            body: new URLSearchParams({ id: info.event.id })
                        }
                    )
                    .then((response) => {
                        if (!response.ok) {
                            throw new Error(`Response status: ${response.status}`);
                        }

                        return response.text();
                    })
                    .then((responseText) => {
                        if (responseText.length != 0) {
                            throw new Error(responseText);
                        }
                        location.reload();
                    })
                    .catch((error) => {
                        alert(error);
                    });    
                }
            },
            dayCellDidMount: function(info) {
                const dateStr = info.date.getFullYear() + '-'
                    + String(info.date.getMonth() + 1).padStart(2, '0') + '-'
                    + String(info.date.getDate()).padStart(2, '0');

                if (bgImageMap[dateStr]) {
                    info.el.style.backgroundSize = 'contain';
                    info.el.style.backgroundRepeat = 'no-repeat';
                    info.el.style.backgroundImage = bgImageMap[dateStr];
                    info.el.classList.add('bg-date');
                }
            },
            slotLaneDidMount: function(info) {
                console.log(info.date);
                var time = info.date.getTime();
                var now = new Date();
                var first = new Date(now.getFullYear(), now.getMonth(), now.getDate() - 7).getTime();
                var last = new Date(now.getFullYear(), now.getMonth(), now.getDate() + 4).getTime();

                if (first <= time && time < last) {
                    console.log('Within range!');
                    var i = Math.trunc((time - first) / 3600000);
                    info.el.style.backgroundImage = `url("http:${hourly_icons[i]}")`;
                    info.el.style.backgroundSize = 'contain';
                    info.el.style.backgroundRepeat = 'no-repeat';
                }
            },
            datesSet: function(dateInfo) {
                if (dateInfo.view.type === 'timeGridWeek') {
                    for (const slot of document.getElementsByClassName('fc-timegrid-slot')) {
                        slot.style.height = '3em';
                    }
                }
                updateCalendar(calendar);
            }
        });

        calendar.render();
    });
</script>
{% endblock %}

{% block body %}
<div id="welcome">Welcome {{ username }}! <a href="{{ url_for('logout') }}">Logout</a></div>
<div id="calendar"></div>
<div class="form-popup" id="addEventForm">
    <form action="{{ url_for('addEvent') }}" method="post" class="form-container">
        <h1>New Event</h1>

        <label for="title"><b>Title</b></label>
        <input type="text" placeholder="Enter Title" name="title" required>

        <label for="description"><b>Description</b></label>
        <textarea name="description" rows="4" cols="50"></textarea>

        <label for="startTime"><b>Start Time</b></label>
        <input type="datetime-local" name="startTime" required>
        <br>
        <label for="endTime"><b>End Time</b></label>
        <input type="datetime-local" name="endTime">

        <button type="submit">Add Event</button>
        <button type="button"
            onclick="document.getElementById('addEventForm').style.display = 'none'">Close</button>
    </form>
</div>
<div id="copyright">
    Powered by <a href="https://www.weatherapi.com/" title="Free Weather API">WeatherAPI.com</a>
</div>
{% endblock %}