{% extends 'base.html' %}

{% block head %}
<title>Setting</title>
<script>
    function deleteAccount() {
        if (confirm('Are you sure you want to delete your account?')) {
            location.replace('{{ url_for("deleteAccount") }}');
        }
    }
</script>
{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <p class="col-2 order-2"><a href="{{ url_for('index') }}">Return</a></p>
        <p class="col-10 order-1">Username: {{ username }}</p>
    </div>
    <div class="row">
        <p>Email: {{ email }}</p>
    </div>
    <div class="row">
        <p>Location: {{ location }}</p>
    </div>
    <!-- TODO: LOCATION SEARCH -->
    <!-- name, region, country -->
     <div class="row">
        <button type="button" class="btn btn-warning" onclick="deleteAccount()">Delete Account</button>
     </div>
</div>
{% endblock %}