{% extends 'base.html' %}

{% block head %}
<title>Setting</title>
<script>
    function deleteAccount() {
        if (confirm('Are you sure you want to delete your account?')) {
            location.replace('{{ url_for("deleteAccount") }}');
        }
    }

    document.addEventListener('DOMContentLoaded', () => {
        const locationInput = document.getElementById('locationInput');
        const locationForm = document.getElementById('locationForm');
        const locationSearchResult = document.getElementById('locationSearchResult');

        locationForm.addEventListener('submit', function(event) {
            event.preventDefault();
            const searchText = locationInput.value.trim();

            locationSearchResult.innerHTML = '';

            fetch(
                '{{ url_for("searchLocations") }}',
                {
                    method: 'POST',
                    body: new URLSearchParams({
                        q: searchText
                    })
                }
            )
            .then((response) => {
                if (!response.ok) {
                    throw new Error(`Response status: ${response.status}`);
                }

                return response.text();
            })
            .then((responseText) => {
                if (responseText.startsWith('ERROR')) {
                    throw new Error(responseText);
                }

                var responseObj;
                try {
                    responseObj = JSON.parse(responseText);
                } catch (error) {
                    throw new Error('Invalid response from the server');
                }

                for (let locationObj of responseObj) {
                    const newParagraph = document.createElement('p');
                    const textNode = document.createTextNode(locationObj.name);
                    const btnNode = document.createElement('button');
                    btnNode.classList.add('btn');
                    btnNode.classList.add('btn-secondary');
                    btnNode.type = 'button';
                    btnNode.textContent = 'Switch to this location';
                    newParagraph.appendChild(textNode);
                    newParagraph.appendChild(btnNode);
                    locationSearchResult.appendChild(newParagraph);
                }
            })
            .catch((error) => {
                locationSearchResult.textContent = error.toString();
            });
        });
    });
</script>
{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <p class="col-1 order-2"><a class="w-100" href="{{ url_for('index') }}">Return</a></p>
        <p class="col-11 order-1">Username: {{ username }}</p>
    </div>
    <div class="row">
        <p>Email: {{ email }}</p>
    </div>
    <div class="row">
        <p>Location: {{ location }}</p>
    </div>
    <!-- TODO: LOCATION SEARCH -->
    <!-- name, region, country -->
    <form class="row g-2 align-items-center" id="locationForm">
        <div class="col-11">
            <input class="form-control" id="locationInput" type="search" placeholder="Enter location name here">
        </div>
        <div class="col-1">
            <button class="btn btn-primary w-100" type="submit">Search</button>
        </div>
    </form>
    <div class="row">
        <div class="col" id="locationSearchResult">
            This box will update when you press the button.
        </div>
    </div>
    <div class="row">
        <button class="btn btn-danger" type="button" onclick="deleteAccount()">Delete Account</button>
    </div>
</div>
{% endblock %}