{% extends 'base.html' %}

{% block head %}
<title>Setting</title>
<script>
    function deleteAccount() {
        if (confirm('Are you sure you want to delete your account?')) {
            location.replace('{{ url_for("deleteAccount") }}');
        }
    }
</script>
{% endblock %}

{% block body %}
<p><a href="{{ url_for('index') }}">Return</a></p>
<p>Username: {{ username }}</p>
<p>Email: {{ email }}</p>
<p>Location: {{ location }}</p>
<button onclick="deleteAccount()">Delete Account</button>
{% endblock %}